.page-header {
  height: 80px;
  width: 100%;
  background-image: var(--gradient);
  z-index: 3;
  @include flex-center-center;

  a {
    display: flex;
    margin-top: 10px;
  }

  h1 {
    font-size: 20px;
    color: var(--page-header-text-color);
    text-shadow: $text-shadow;
    margin-left: 10px;
  }
}

@include media-md {
  .page-header {
    h1 {
      font-size: 30px;
    }

    svg {
      margin-top: 9px;
    }
  }
}
