.page-content-title {
  background-color: var(--page-content-title-bg-color);
  padding: 7px 10px 1px 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--page-content-title-border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    color: var(--page-content-title-color);
    font-size: 13px;
  }

  span {
    cursor: pointer;
    font-size: 20px;
  }
}

@include media-md {
  .page-content-title {
    h2 {
      font-size: 16px;
    }
  }
}
