.page-content {
  width: 100%;
  background-color: var(--page-content-bg-color);
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(100vh - 100px);
}
@include media-md {
  .page-content {
    width: calc(100% - 300px);
  }
}

@include media-lg {
  .page-content {
    width: calc(100% - 400px);
  }
}
